Repository empa-scientific-it/properties-updater: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format, compile, publish-gh

format:
  stage: test
  before_script:
  - mkdir -p $CI_PROJECT_DIR/.cache
  - export GOPATH=$CI_PROJECT_DIR/.cache
  script:
  - go get empa/basi/properties-updater/cmd/changeprop
  - go fmt $(go list ./... | grep -v /vendor/)
  - go vet $(go list ./... | grep -v /vendor/)
  ...

compile:
  stage: build
  before_script:
  - export GOPATH=$CI_PROJECT_DIR/.cache
  - echo $GOPATH
  - ls $GOPATH
  script:
  - mkdir -p build
  - go get empa/basi/properties-updater/cmd/changeprop
  - go build -o build ./...
  artifacts:
    paths:
    - build

publish-gh:
  stage: publish
  script:
  - git config user.email "simone.baffelli@empa.ch"
  - git config user.name "ci-bot"
  - git remote rm gh
  - git remote add gh https://$GITHUB_TOKEN@github.com/empa-scientific-it/properties-updater.git
  - git push -u gh main

Added commit message.
  .gitlab-ci.yml
Due: publish-gh

Added quotes.
  .gitlab-ci.yml
Due: publish-gh

Changed git strategy to avoid deatched head.
  .gitlab-ci.yml
Due: publish-gh

Skipping in case of failure.
  .gitlab-ci.yml
Due: publish-gh

Fixed
  .gitlab-ci.yml
Due: publish-gh

Added readme.
  README.md
Due: publish-gh

Only commited objects modified.
  .gitlab-ci.yml
Due: publish-gh

Forcing commit.
  .gitlab-ci.yml
Due: publish-gh

Force pushing.
  .gitlab-ci.yml
Due: publish-gh

SKipping pushing if same.
  .gitlab-ci.yml
Due: publish-gh

Removed forced push.
  .gitlab-ci.yml
Due: publish-gh

Added mode handler.
  cmd/changeprop/changeprop.go
  go.mod
Due: format, compile, publish-gh

Fixed tests.
  cmd/changeprop/changeprop_test.go
Due: format, compile, publish-gh

Added taskfile.
  Taskfile.yml
Due: none

Reformatted.
  cmd/changeprop/changeprop.go
  cmd/changeprop/changeprop_test.go
  pkg/dao/dao.go
  pkg/io/io.go
Due: format, compile, publish-gh

Added pre-commit hook.
  .githooks/pre-commit
Due: none

Made pre commit hook executable.
  .githooks/pre-commit
Due: none

Fixed CI/CD script.
  .gitlab-ci.yml
Due: publish-gh

Path conditions:
  format: any of: **/*.go
  compile: any of: **/*.go
  publish-gh: any of: **/*.go, README.md, go.mod, LICENSE, .gitlab-ci.yml
